# Godot 4+ specific ignores
.godot/
*.translation
export.cfg
export_presets.cfg
*.tmp
*.import
.mono/
data_*/
android/

# Colyseus server
server/node_modules/
server/build/
server/.colyseus-cloud/

addons/colyseus/bin/~*

